h1{
    font-size: 58px;
}
h2{
font-size: 40px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 14px;
}
a{
    font-size:14px ;
}
small{
    font-size: 12px;
}
.btn-text{
    font-size: 14px
}
p{
font-size: 14px ;
}